* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    /* Fundo com degradê */
    background: linear-gradient(135deg, #12002f, #4b0082, #0072ff);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

/* Caixa principal */
.calculadora {
    background: #ffffff;

    padding: 35px;
    width: 360px;

    border-radius: 20px;

    /* Sombra colorida */
    box-shadow:
        0 0 20px rgba(0, 114, 255, 0.5),
        0 0 50px rgba(138, 43, 226, 0.3);

    text-align: center;
}

/* Título */
h1 {
    margin-bottom: 25px;

    color: #4b0082;

    font-size: 28px;
}

/* Campos */
input {
    width: 100%;

    padding: 14px;
    margin-bottom: 12px;

    border: 2px solid #ddd;
    border-radius: 10px;

    font-size: 16px;

    outline: none;

    transition: 0.3s;
}

/* Quando clicar no campo */
input:focus {
    border-color: #7b2cff;

    box-shadow:
        0 0 8px rgba(123, 44, 255, 0.5);
}

/* Botão */
button {
    width: 100%;

    padding: 14px;

    margin-top: 8px;

    background: linear-gradient(
        90deg,
        #0072ff,
        #7b2cff
    );

    color: white;

    border: none;
    border-radius: 10px;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

/* Efeito ao passar o mouse */
button:hover {
    transform: translateY(-3px);

    box-shadow:
        0 8px 20px rgba(0, 114, 255, 0.4);
}

/* Efeito ao clicar */
button:active {
    transform: scale(0.97);
}

/* Resultado */
#resultado {
    margin-top: 25px;

    padding: 15px;

    border-radius: 10px;

    background: #f0e6ff;

    color: #4b0082;

    font-size: 21px;
    font-weight: bold;

    border-left: 5px solid #7b2cff;
}